@import 'sass/fonts/fonts.scss' ;
@import 'sass/mixin/color.scss';
@import 'sass/carrousel/carrousel.scss';
@import url('https://fonts.cdnfonts.com/css/gallery');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    // background-image: url("image/fond-ecran.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
}
h1 {
    width: 100%;
    text-align: center;
}
section {
    width: 100%;
}
header{
    background-color: #FFF;
}
.headerMobile{
    display: none;
}
.display-mobile {
    display: none;
}
.header {
    width: 100%;
    height: 100px;
    color: $primary-color;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    .logo {
        display: flex;
        font-weight: 700;
        position: absolute;
        top: 0px;
        left: 50px;
        width: 100px;
    }
    .header-content {
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 5vw;
        
        a {
            margin-left: 50px;
            font-size: 20px;
            text-decoration: none;
            color: $primary-color;
        }
        .header-icon {
            color: $primary-color;
            margin-left: 30px;
            font-size: 25px;
            cursor: pointer;
        }
    }   
}
h1 {
    width: auto;
    position   : relative; 
    justify-content: center;
    z-index: 3;
}
.mon-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        font-size: 20px;
        font-style: italic;
        font-weight: 100;
    }
}
.article-me-concernant {
    display: flex;
    width: 80%;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(253,244,227);
    background: linear-gradient(25deg, rgba(253,244,227,1) 0%, rgba(163,179,179,1) 45%, rgb(2, 65, 88) 100%);
    border-radius: 50px;
    .div-me-concernant {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 480px;
        .phrase-me-concernant {
            width: auto;
            padding: 15px;
        }
       .div-image-me-concernant { 
        display: flex;
        align-items: center;
            .image-me-concernant {
                width:auto;
                height:460px;
                background:#069;
                margin: 0;
                // -webkit-transform:skew(-30deg);
                // -moz-transform:skew(-30deg);
                // -o-transform:skew(-30deg);
                // tranform:skew(-30deg);
                border-radius:50% / 50%; 
                justify-content: center;
                margin-left: 15px;
                img {
                    display: block;
                    width: auto;
                    height: 480px;
                    
                }
            }  
       }     
        .div-milieu-me-concernant {
            width: 30%;
            height: 480px;
            position   : relative; 
            text-align: center;
            z-index: 3;
            margin-left: -40px;
            font-size: 22px;
        }
        .div-logiciels {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h3 {
                display: flex;
                img {
                    margin-right: 10px;
                }
            }
            .div-image-logiciels {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: auto;
                .image-logiciels {
                    width: 30px;
                    height: 30px;
                }
            } 

        }
          
    }
    .div-logicielsTablette{
        display: none;
    }
    
    
}
.article-projets {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    cursor:grab;
    .fa-arrow-left {
        margin-right: 30px ;
        cursor: pointer;
    }
    .fa-arrow-right {
        margin-left: 30px ;
        cursor:grab;
    }
    .container-projets {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        gap: 5vmin;
        transform: translate(0%, 0%);
        .div-projets {
            display: flex;
            width: 20vw;
            height: 20vw;
            flex-direction: column;
            position: relative;
            align-items: center;
            margin-bottom: 15vh;
            user-select: none;
            a { 
                cursor:pointer;
                .projet-image {
                    width: 80%;
                    height: auto;
                    margin-left: 10%;
                    border-radius: 20px;
                    box-shadow: 2px 5px 10px rgb(0, 0, 0);
                    object-fit: cover;
                    height: 200px;
                    object-position: 100% 50%;
                    cursor: pointer;
                    
                    // &:hover {
                    //     display: flex;
                    //     width: 300px;
                    //     height: auto;
                    //     transition: width 0.5s;
                    //   }
                }

            }
            .telechargement, .visualisation {
                display: flex;
                margin: auto;
                border-radius: 50px;
                font-size: 20px;
                width: 50%;
                color: white;
                background-color: rgba(235, 13,57, 959);
                padding: 15px;
                margin-bottom: 20px ;
                cursor: pointer;
                &:hover {
                    background-color: crimson;
                }
                .download-button {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                }
                a {
                    text-decoration: none;
                    color: inherit;
                    cursor: pointer;
                }
                i {
                    margin-left: 15px;
                }
            }
        }
    }
}
.footer {  
    width: 100%;
    height: 300px;
    color: white;
    position: relative;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    justify-content: space-around;
    &-coordonnees {
        margin-left: 25px;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            margin-right: 30px;
            font-size: 20px;
        }
        h2 {
            margin-left: auto;
            margin-right: auto;
            font-size: 26px;
        }
    }
    &-formulaire {
        width: 80%;
        height: 270px;
        background-color: $secondary-color;
        border-radius: 25px;
        display: flex;
        flex-direction: row;
        &-h3 {
            width: 27.5%;
            padding-left: 15px;     
            &-image {
                width: 100%;
                height: 180px;
                object-fit: cover;
                border-radius: 25px;;
            }                                    
        }
        form {
            font-size: 25px;
            margin-left:2.5%;
            width: 70%;
            display: flex;
            flex-direction: row;
            font-family: 'Gallery', sans-serif; 
            .footer-formulaire-gauche, .footer-formulaire-droite {
                display: flex;
                flex-direction: column;
                h3 {
                    font-size: 32px;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
            .footer-formulaire-gauche {
                width: 40%;
                padding: 15px 45px 15px 15px;
                div {
                    display: flex;
                    flex-direction: column;
                    input {
                        margin-left:-5px;
                        border-radius: 20px;
                        padding: 0 10px 0 10px;
                    }
                }
                button {
                    margin-top:15px;
                    width: 200px;
                    height: 50px;
                    color: #FFF;
                    font-family: "Gallery";
                    border: none;
                    border-radius: 20px;
                    font-size: 26px;
                    background-color: #019f7a;
                    margin-left: auto;
                    margin-right: auto;
                    &:hover {
                        background-color: #007f5c;
                        scale: 1.05;
                        transition: all ease-in-out 0.5s;
                    }
                }
            }
            .footer-formulaire-droite {
                width: 60%;
                padding: 15px 15px 15px 0;
                textarea {
                    height: 250px;
                    border-radius: 20px;
                    padding: 10px;
                }
                // input {
                //     height: 250px;
                // }
            }
        }
    }
    a {
        text-decoration: none;
        color: white;
    }
    i {
        color: white;
        font-size: 26px;
    }

}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 10;
}
.modal { 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    display: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
    padding: 20px;
    z-index: 10;
    .modal-close {
        position: absolute;
        font-size: 25px;
        top: 15px;
        right: 20px;
        cursor: pointer;
        transition: all ease-in-out 0.5s;
        &:hover {
            transform: rotate(180deg);
        }
    }
    .modal-container {   
        .modal-projet1, .modal-projet2, .modal-projet3, .modal-projet4, .modal-projet5, .modal-projet6 {
            h2 {
                font-size: 30px;
                color: black;
                font-family: 'raleway';
                margin-bottom: 20px;
            }
            p {
                font-size: 18px;
                color: black;
                margin-bottom: 20px;
            }
        }
        
    }
    .modal-button {
        font-size: 18px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #019f7a;
        color: white;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
        &:hover {
            background-color: #007f5c;
        }
    }
}


//-----------------------------------------------------------------------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------------------------------------------------------------------


// VERSION TABLETTE


//-----------------------------------------------------------------------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------------------------------------------------------------------





@media screen and (min-width: 600px) and (max-width: 1025px) {
    #carrousel {
        height: 80vh;
        .dots {
            margin-bottom: 40px;
        }
    }
    .header {
        width: 100%;
        height: 100px;
        color: $primary-color;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: relative;
        .logo {
            display: flex;
            font-weight: 700;
            position: absolute;
            top: 10px;
            left: 40px;
            width: 80px;
        }
        .header-content {
            display: flex;
            flex-direction: row;
            position: absolute;
            right: 5vw;
            
            a {
                margin-left: 50px;
                font-size: 15px;
                text-decoration: none;
                color: $primary-color;
            }
            .header-icon {
                color: $primary-color;
                margin-left: 30px;
                font-size: 17.5px;
                cursor: pointer;
            }
        }   
    }
    .article-me-concernant {
        display: flex;
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        background: rgb(253,244,227);
        background: linear-gradient(25deg, rgba(253,244,227,1) 0%, rgba(163,179,179,1) 45%, rgb(2, 65, 88) 100%);
        border-radius: 50px;
        .div-me-concernant {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            height: 480px;
            .phrase-me-concernant {
                width: auto;
                padding: 15px;
            }
           .div-image-me-concernant { 
            display: flex;
            align-items: center;
                .image-me-concernant {
                    width:auto;
                    height:300px;
                    background:#069;
                    margin: 0;
                    border-radius:50% / 50%; 
                    justify-content: center;
                    margin-left: 15px;
                    img {
                        display: block;
                        width: auto;
                        height: 480px;
                        
                    }
                }  
           }     
            .div-milieu-me-concernant {
                width: auto;
                height: auto;
                position : relative; 
                text-align: center;
                z-index: 3;
                margin-left: -40px;
                font-size: 22px;
            }
            .div-logiciels {
                display: none;  
            }
            .div-logicielsTablette {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h2{
                    font-size:1.5em;
                }
                h3 {
                    display: flex;
                    font-size: 22px;
                    img {
                        margin-right: 10px;
                    }
                }
                .div-image-logiciels {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: auto;
                    .image-logiciels {
                        width: 10px;
                        height: 10px;
                    }
                } 
        
            }
              
        }
    }
    
    .article-projets {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        cursor:grab;
        .fa-arrow-left {
            margin-right: 30px ;
            cursor: pointer;
        }
        .fa-arrow-right {
            margin-left: 30px ;
            cursor:grab;
        }
        .container-projets {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            .div-projets {
                display: flex;
                width: 80vw;
                height: auto;
                flex-direction: column;
                position: relative;
                align-items: center;
                margin-bottom: 10vh;
                user-select: none;
                a { 
                    cursor:pointer;
                    .projet-image {
                        width: 100%;
                        height: auto;
                        margin-left: 0;
                        border-radius: 20px;
                        box-shadow: 2px 5px 10px rgb(0, 0, 0);
                        object-fit: cover;
                        height: 200px;
                        object-position: 100% 100%;
                        cursor: pointer;
                    }
    
                }
                .telechargement, .visualisation {
                    display: flex;
                    margin: auto;
                    border-radius: 50px;
                    font-size: 20px;
                    width: 30%;
                    color: white;
                    background-color: rgba(235, 13,57, 959);
                    padding: 15px;
                    margin-bottom: 20px ;
                    cursor: pointer;
                    &:hover {
                        background-color: crimson;
                    }
                    .download-button {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                    }
                    a {
                        text-decoration: none;
                        color: inherit;
                        cursor: pointer;
                    }
                    i {
                        margin-left: 15px;
                    }
                }
            }
        }
    }
    .footer {  
        width: 100%;
        height: 300px;
        color: white;
        position: relative;
        background-color: black;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 50px;
        justify-content: space-around;
        &-coordonnees {
            margin-left: 25px;
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                margin-right: 30px;
                font-size: 16px;
            }
            h2 {
                margin-left: auto;
                margin-right: auto;
                font-size: 20px;
            }
        }
        &-formulaire {
            width: 100%;
            height: 270px;
            background-color: $secondary-color;
            border-radius: 25px;
            display: flex;
            flex-direction: row;
            &-h3 {
                width: auto;
                padding-left: 15px;     
                &-image {
                    width: 100%;
                    height: 180px;
                    object-fit: cover;
                    border-radius: 25px;;
                }                                    
            }
            form {
                font-size: 25px;
                margin-left:2.5%;
                width: 70%;
                display: flex;
                flex-direction: row;
                font-family: 'Gallery', sans-serif; 
                .footer-formulaire-gauche, .footer-formulaire-droite {
                    display: flex;
                    flex-direction: column;
                    h3 {
                        font-size: 32px;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }
                .footer-formulaire-gauche {
                    width: 40%;
                    padding: 15px 45px 15px 15px;
                    div {
                        display: flex;
                        flex-direction: column;
                        input {
                            margin-left:-5px;
                            border-radius: 20px;
                            padding: 0 10px 0 10px;
                        }
                    }
                    button {
                        margin-top:15px;
                        width: 200px;
                        height: 50px;
                        color: #FFF;
                        font-family: "Gallery";
                        border: none;
                        border-radius: 20px;
                        font-size: 26px;
                        background-color: #019f7a;
                        margin-left: auto;
                        margin-right: auto;
                        &:hover {
                            background-color: #007f5c;
                            scale: 1.05;
                            transition: all ease-in-out 0.5s;
                        }
                    }
                }
                .footer-formulaire-droite {
                    width: 60%;
                    padding: 15px 15px 15px 0;
                    textarea {
                        height: 250px;
                        border-radius: 20px;
                        padding: 10px;
                    }
                    // input {
                    //     height: 250px;
                    // }
                }
            }
        }
        a {
            text-decoration: none;
            color: white;
        }
        i {
            color: white;
            font-size: 26px;
        }

    }
}

//---------------------------------------------------------------------------------------------------------------------------------------------
//---------------------------------------------------------------------------------------------------------------------------------------------

// VERSION MOBILE


//---------------------------------------------------------------------------------------------------------------------------------------------
//---------------------------------------------------------------------------------------------------------------------------------------------

@media screen and (max-width: 600px) {
    #carrousel {
        height: 60vh;
        #left {
            position: absolute;
            font-size: 50px;
            cursor: pointer;
            left: 20px;
            top: 50%;
            color: white;
            &:hover {
                transform: scale(1.2);
                transition: all 0.5s ease;
              }
          }
          #right {
            position: absolute;
            font-size: 50px;
            cursor: pointer;
            right: 20px;
            top: 50%;
            color: white;
            &:hover {
                transform: scale(1.2);
                transition: all 0.5s ease;
              }
          }
        #carrousel-container {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            transition: transform 0.3s ease-in-out;
            .itemSlider{
                .carrousel-image {
                    height: auto;
                    width: 100%;
                    object-fit: contain;
                  }
            }
            div {
                height: 400px;
            }
            
        }
        .dots {
            margin-bottom: 40px;
        }
    }
    .display-mobile {
        display: flex;
        i{
            position: absolute;
            right: 40px;
            top: 25px;
            font-size: 40px;
        }
    }
    .headerMobile {
        width: 100%;
        height: 100px;
        color: $primary-color;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        z-index: 10;
        .logo {
            display: flex;
            font-weight: 700;
            position: absolute;
            top: 0px;
            left: 40px;
            width: 80px;
        }
        .header-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 200px;
            gap: 10px;
            z-index: 1;
            background: white;
            align-items: center;
            opacity: 0.9;
            position: fixed;
            left: 100%;
            transition: 0.25s ease-in-out;
            
            a {
                margin-left: 0;
                margin-top: 0;
                font-size: 20px;
                text-decoration: none;
                color: $primary-color;
            }
            .header-icon {
                display: none;
                color: $primary-color;
                margin-left: 0px;
                font-size: 17.5px;
                cursor: pointer;
                margin-left: 20px;
            }
        }  
        .active{
            left: auto ;
        } 
        #x-mark {
            display: none;
        }
    }
    .header {
        display: none;
    }
    .article-me-concernant {
        display: flex;
        width: 100%;
        height: 520px;
        margin-left: auto;
        margin-right: auto;
        background: rgb(253,244,227);
        background: linear-gradient(25deg, rgba(253,244,227,1) 0%, rgba(163,179,179,1) 45%, rgb(2, 65, 88) 100%);
        border-radius: 50px;
        .div-me-concernant {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            height: 520px;
            .phrase-me-concernant {
                width: auto;
                padding: 15px;
                p {
                    font-size: calc(0.1rem + 1rem);
                }
            }
            h2 {
                font-size: 20px;
            }
           .div-image-me-concernant { 
            display: flex;
            align-items: center;
                .image-me-concernant {
                    width:auto;
                    height:40%;
                    background:#069;
                    margin: -250px 0 0 0;
                    border-radius:50% / 50%; 
                    justify-content: center;
                }  
           }     
            .div-milieu-me-concernant {
                width: 50%;
                height: auto;
                position : relative; 
                text-align: center;
                z-index: 3;
                margin-left: -40px;
                font-size: calc(0.1rem + 1rem);
            }
            .div-logiciels {
                display: none;  
            }
            .div-logicielsTablette {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h2{
                    font-size:20px;
                }
                h3 {
                    display: flex;
                    font-size: 18px;
                    img {
                        margin-right: 10px;
                    }
                }
                .div-image-logiciels {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 100%;
                    margin-left: -30vw;
                    .image-logiciels {
                        width: 20px;
                        height: 20px;
                    }
                } 
        
            }
              
        }
    }
    
    .article-projets {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        cursor:grab;
        .fa-arrow-left {
            margin-right: 30px ;
            cursor: pointer;
        }
        .fa-arrow-right {
            margin-left: 30px ;
            cursor:grab;
        }
        .container-projets {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            .div-projets {
                display: flex;
                width: 80vw;
                height: auto;
                flex-direction: column;
                position: relative;
                align-items: center;
                margin-bottom: 10vh;
                user-select: none;
                a { 
                    cursor:pointer;
                    .projet-image {
                        width: 100%;
                        height: auto;
                        margin-left: 0;
                        border-radius: 20px;
                        box-shadow: 2px 5px 10px rgb(0, 0, 0);
                        object-fit: cover;
                        height: 200px;
                        object-position: 100% 100%;
                        cursor: pointer;
                    }
    
                }
                .telechargement, .visualisation {
                    display: flex;
                    margin: auto;
                    border-radius: 50px;
                    font-size: 20px;
                    width: 50%;
                    color: white;
                    background-color: rgba(235, 13,57, 959);
                    padding: 15px;
                    margin-bottom: 20px ;
                    cursor: pointer;
                    &:hover {
                        background-color: crimson;
                    }
                    .download-button {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                    }
                    a {
                        text-decoration: none;
                        color: inherit;
                        cursor: pointer;
                    }
                    i {
                        margin-left: 15px;
                    }
                }
            }
        }
    }
    .footer {  
        width: 100%;
        height: 300px;
        color: white;
        position: relative;
        background-color: black;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 50px;
        justify-content: space-around;
        &-coordonnees {
            margin-left: 25px;
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                margin-right: 0;
                font-size: 16px;
            }
            h2 {
                margin-left: auto;
                margin-right: auto;
                font-size: 16px;
            }
        }
        &-formulaire {
            width: 100%;
            height: 270px;
            background-color: $secondary-color;
            border-radius: 25px;
            display: flex;
            flex-direction: row;
            &-h3 {
                display: none;
                width: auto;
                padding-left: 15px;   
                font-size: 16px !important;  
                &-image {
                    width: 80%;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 25px;;
                }                                    
            }
            form {
                font-size: 25px;
                margin-left:2.5%;
                width: 70%;
                display: flex;
                flex-direction: row;
                font-family: 'Gallery', sans-serif; 
                .footer-formulaire-gauche, .footer-formulaire-droite {
                    display: flex;
                    flex-direction: column;
                    h3 {
                        font-size: 32px;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }
                .footer-formulaire-gauche {
                    width: 40%;
                    padding: 15px 45px 15px 15px;
                    div {
                        display: flex;
                        flex-direction: column;
                        input {
                            margin-left:-5px;
                            border-radius: 20px;
                            padding: 0 10px 0 10px;
                        }
                    }
                    button {
                        margin-top:15px;
                        width: 200px;
                        height: 50px;
                        color: #FFF;
                        font-family: "Gallery";
                        border: none;
                        border-radius: 20px;
                        font-size: 26px;
                        background-color: #019f7a;
                        margin-left: auto;
                        margin-right: auto;
                        &:hover {
                            background-color: #007f5c;
                            scale: 1.05;
                            transition: all ease-in-out 0.5s;
                        }
                    }
                }
                .footer-formulaire-droite {
                    width: 60%;
                    padding: 15px 15px 15px 0;
                    textarea {
                        height: 250px;
                        border-radius: 20px;
                        padding: 10px;
                    }
                    // input {
                    //     height: 250px;
                    // }
                }
            }
        }
        a {
            text-decoration: none;
            color: white;
        }
        i {
            color: white;
            font-size: 26px;
        }

    }
}